@import url('https://fonts.cdnfonts.com/css/nexa?styles=27685,27680');
* {
    box-sizing: border-box;
}

html {
    margin: 0;
}

body {
    margin: 0;
    padding: 0px;
    max-width: 100vw;
}

.container {
    margin: 0;
    padding: 0.01px 1.875rem;
    width: 100%
}

.white-wrapper {
    background: #FFF;
    padding: 0.01rem;
    padding-top: 5rem;
    /* filter: drop-shadow(0px 21.00374412536621px 31.505615234375px rgba(147, 153, 176, 0.15)); */
    width: 100%;
}

.logo {
    margin-top: 1.73rem;
    margin-left: 6rem;
    margin-right: auto;
    margin-bottom: 2rem;
}

.logo img {
    max-width: 100%;
}

form input,
.full-width-input {
    display: block;
    width: 100%;
    border-radius: 6.301px;
    background: #f7f7f7;
    padding: 1rem 0 0.9rem 1rem;
    border: none;
    margin-bottom: 1rem;
}

form input.text-input::placeholder {
    color: #5A686C;
    font-family: Nexa;
    font-size: 16.602px;
    font-style: normal;
    font-weight: 400;
    opacity: 10;
    line-height: normal;
}

form input[type='submit'] {
    padding-left: 0;
    margin: auto;
    border-radius: 6.301px;
    background: linear-gradient(270deg, #A336BD -4.74%, #FF387D 29.23%, #FF5D34 70.94%, #FFAA1B 105.94%);
    color: #FFF;
    font-family: Nexa;
    font-size: 14.703px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}

.or {
    margin: 1.5rem auto;
    display: flex;
    gap: 1rem;
}

.or .bar {
    flex: auto;
    border: none;
    height: 1px;
    background: #EBEBEB;
}

a.full-width-input {
    text-decoration: none;
    text-align: center;
    color: #1877F2;
    font-family: Nexa;
    font-size: 12.602px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: url(images/fb-logo.svg) 22.5% center no-repeat;
    border: 1.05px solid #1877F2;
}

.bottom-links {
    margin-top: 2rem;
}

.bottom-link {
    display: block;
    text-align: center;
    text-decoration: none;
    margin: 1.5rem auto;
    color: #1877F2;
    font-family: Nexa;
    font-size: 12.602px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.bottom-link:nth-of-type(1) {
    color: #5A686C;
    font-family: Nexa;
    font-weight: 400;
}

.dash {
    margin: auto;
    width: 100px;
    height: 1.05px;
    background-color: #EBEBEB;
}